<!DOCTYPE html>
<html>
<head>

  <title>Spotify Web Playback SDK</title>

</head>
<body>

  <script type="text/javascript" src="https://sdk.scdn.co/spotify-player.js"></script>
  <script type="text/javascript" src="JavaScript/Main.js"></script>
  <script type="text/javascript" src="JavaScript/device.js"></script>

</body>
<article>

  <img id="playing_art" src="pictures\default_cover.jpg" alt="pictures\default_cover.jpg"><br>
  <h1 id=playing_name>not playing anything rn</h1>

</article>
</html>
